.appContainer{
    background-color: #eee;
    height: 100%;
    width: 100%;
}

.appBody{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    text-align:center;
}

.card{
    width: 31.5%;
    margin: 0 auto 1% auto;
}

.filling-empty-space-childs {
    height:0;
}

.description{
    margin:0 2.5%;
    width: 95%;
    text-align: left;
}

.img{
    width: 100%;
    margin: 0;
    padding: 0;
}

mat-toolbar{
    margin: 0.5% auto 1% auto;
    max-width: 99%;
    border-radius: 1%;
}