<div class="carousel">
    <img (click)="pictureClicked()"
      src="{{getImageFilePath(pictures[index].url)}}"
      class="slide"
      (error)="handleMissingImage($event)"
    />
  <div class="controls {{displayControls()}}">
      <button class="endControl" matTooltip="first" (click)="start()" mat-icon-button>
          <mat-icon>keyboard_double_arrow_left</mat-icon>
        </button>
        <button class="control" matTooltip="next" (click)="decrement()" mat-icon-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div class="indexDisplay">
            {{index + 1}}/{{pictures.length}}
        </div>
        <button class="control" matTooltip="previous" (click)="increment()" mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button class="endControl" matTooltip="last" (click)="end()" mat-icon-button>
          <mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>
  </div>
</div>