
<mat-sidenav-container>
  <mat-sidenav
        #drawer 
        fixedInViewport
        [mode]="'over'"
        [opened]="false">
        <div class="filters">
          <div class="filter">
            <categories [categories$]="categories$" (onCategoryFilterUpdated)="updateCategoryFilter($event)"></categories>
          </div>
          <div class="filter">
            <vehicles [vehicles$]="vehicles$" (onVehicleFilterUpdated)="updateVehicleFilter($event)"></vehicles>
          </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-container>
      <mat-toolbar color="primary" class="sidenavLogo">
        <button 
          *ngIf="!filtersExist()"
          mat-mini-fab 
          color="accent" 
          (click)="openDrawer(drawer)" 
          matTooltip="No filters applied">
            <mat-icon *ngIf="!filtersExist()">filter_alt_off</mat-icon>
        </button>
        <button 
          *ngIf="filtersExist()"
          mat-mini-fab 
          color="accent" 
          (click)="openDrawer(drawer)" 
          matTooltip="Update filters">
            <mat-icon *ngIf="filtersExist()">filter_alt</mat-icon>
        </button>
        <h2 class="h2">Shop</h2>
      </mat-toolbar>
      <price-list [prices$]="prices$"></price-list>
    </mat-sidenav-container>
</mat-sidenav-container>
