<div *ngIf="!isMiniVersion" class="words">
    <button mat-raised-button color="primary">
        <a class="buttonText" target="blank" href={{instaLink}}>
            Get in touch to order!
        </a>
    </button>
</div>
<div class="container">
    <div class="contact">
        <a target="blank" href={{instaLink}}>
            <button mat-icon-button>
                <fa-icon class="icon" *ngIf="!isMiniVersion" animation="beat" size="2x" [icon]="faInstagram"></fa-icon>
                <fa-icon class="icon" *ngIf="isMiniVersion" size="2x" [icon]="faInstagram"></fa-icon>
            </button>
        </a>
        
    </div>
    <div class="contact">
        <a target="blank" href={{ytLink}}>
            <button mat-icon-button>
                <fa-icon class="icon" *ngIf="!isMiniVersion" animation="beat" size="2x" [icon]="faYoutube"></fa-icon>
                <fa-icon class="icon" *ngIf="isMiniVersion" size="2x" [icon]="faYoutube"></fa-icon>
            </button>
        </a>

    </div>
    <div class="contact">
        <a target="blank" href={{fbLink}}>
            <button mat-icon-button>
                <fa-icon class="icon" *ngIf="!isMiniVersion" animation="beat" size="2x" [icon]="faFacebook"></fa-icon>
                <fa-icon class="icon" *ngIf="isMiniVersion" size="2x" [icon]="faFacebook"></fa-icon>
            </button>
        </a>

    </div>
</div>
