.icon{
    color: #ff4081;
}
.words{
    margin-bottom:3%;
}
.container{
    display: flex;
    justify-content: space-around;
    width:auto;
    margin-bottom: 15%;
} 
.buttonText{
    text-decoration: none;
    color:#fff;
}