<div class="storeFrontBody">
    <div class="card" *ngFor="let price of (prices$ | async)">
      <mat-card>
        <mat-card-header class="title">{{price.product.displayName}}</mat-card-header>
        <mat-card-content>
          <!-- <carousel [pictures]="price.product.pictures"></carousel> -->
          <carousel [pictures]="price.product.pictures"></carousel>
          <p class="description">{{price.product.description}}</p>
          <button mat-raised-button color="primary">{{price.unitAmount / 100 | currency}}</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngFor="let filler of getNumberOfFillerCards((prices$ | async))" class="filling-empty-space-childs card"></div>
  </div> 