<div class="storeFrontBody" *ngIf="(prices$ | async)">
    <div class="card" *ngFor="let price of (prices$ | async)">
      <mat-card>
        <mat-card-header class="title pointer" (click)="openDialog(price)">{{price.product.displayName}}</mat-card-header>
        <mat-card-content>
          <carousel [pictures]="price.product.pictures"></carousel>
          <p class="description pointer" (click)="openDialog(price)">
            {{price.product.description.substring(0,30)}}...
            <button mat-button disabled>(more)</button>
          </p>
          <button class="pointer" mat-raised-button color="primary" (click)="openDialog(price)">{{price.unitAmount / 100 | currency}}</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngFor="let filler of getNumberOfFillerCards((prices$ | async))" class="filling-empty-space-childs card"></div>
  </div> 

  <div class="storeFrontBody" *ngIf="!(prices$ | async) || ((prices$ | async)?.length) == 0">
    <h2>No results found</h2>
  </div>